{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Practice Questions
{% endblock %}


{% block content %}
    <p>
        Suppose you receive the following hint:
    </p>

    <p>
        The following network structure was randomly selected for your group and you have been assigned to node C.
    </p>

    <p>
        The color of the <b>hat</b> is <b>green</b>.
    </p>

    <img src = "{% static "vestito/Network2.png" %}"/>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}
{% endblock %}
