{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
        Guess the Colors
{% endblock %}

{% block styles %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static "vestito/indx.css" %}">
        <body style="padding-top: 3rem; padding-bottom: 0rem;"/>
    <style>
        div.hint {
            background-color: white;
            width: 650px;
            border: 1px solid black;
            padding: 25px;
            margin: 25px;
}
    </style>

    <style>
        div.next {
            background-color: white;
            height: 250px;
            border: 1px solid white;
            padding-top: 100px;
}
    </style>




{% endblock %}

{% block content %}

    <div class="hint">
        <p> The following network structure was randomly selected for your group and you have been assigned to node {{ player.role }}. </p>
    {% if hintts %}
        <p>The color of the <b>T-shirt</b> is <b>{{ group.tshirt_col }}</b></p>
    {% elif hinth%}
        <p>The color of the <b>Hat</b> is <b>{{ group.hat_col }}</b></p>
    {% elif hintp %}
        <p>The color of the <b>Pants</b> is <b>{{ group.pants_col }}</b></p>
    {% elif hintg %}
        <p>The color of the <b>Gloves</b> is <b>{{ group.gloves_col }}</b></p>
    {% elif hints %}
        <p>The color of the <b>Shoes</b> is <b>{{ group.shoes_col }}</b></p>
    {% endif %}
    </div>

    {% if net1 %}
        <img src = "{% static "vestito/Network1.png" %}"/>
    {% elif net2 %}
        <img src = "{% static "vestito/Network2.png" %}"/>
    {% else %}
        <img src = "{% static "vestito/Network3.png" %}"/>
    {% endif %}

    <p>Please chose the color of each cloth by clicking on it.</p>
    <pi class="block"> </pi>
			<div class="row">
				<div class="col-md-8 col-xs-12">

					<div style="display:none;">
						<input id="cappello" type="hidden" name="hat">
						<input id="maglietta" type="hidden" name="tshirt">
						<input id="pantaloni" type="hidden" name="pants">
						<input id="guanti" type="hidden" name="gloves">
						<input id="scarpe" type="hidden" name="shoes">
                        <input id="histor" type="hidden" name="hist">
                        <input id="time_stamp_entered" type="hidden" name="timestamp"/>
					</div>

						
					<img id="ominoImage" src="{% static "vestito/omino.jpg" %}"/>
					<div class="omino">
						<svg height="670" width="292">
							<path id="mag" onclick="magclick()"
								d="M 105 185
								l 20 0
								l 20 40
								l 20 -40
								l 20 0
								l 5 -20
								l 25 0
								l 50 50
								l -40 40
								l -20 -20
								l -0 120
								l -120 -0
								l 0 -120
								l -20 20
								l -40 -40
								l 50 -50
								l 25 0
								z" stroke="black" stroke-width="2" fill="gray"
							/>

							<path id="pant" onclick="pantclick()" 
								d="M 90 355
								l 110 0
								l 30 200
								l -50 0
								l -30 -150
								l -30 150
								l -50 0
								z" stroke="black" stroke-width="2" fill="gray" 
							/>
						
							<path id="shoe1" onclick="shoeclick()" 
								d="M 82 560
								l 30 0
								l 0 40
								l -60 0
								q -15 0 -15 -15
								q 0 -15 25 -15
								l 0 10
								l 4 0
								l 0 -10
								l 10 0
								l 0 10
								l 4 0
								l 0 -10
								z" stroke="black" stroke-width="2" fill="gray"
							/>
						
							<path  id="shoe2" onclick="shoeclick()" 
								d="M 222 560
								l -30 0
								l 0 40
								l 60 0
								q 15 0 15 -15
								q 0 -15 -25 -15
								l 0 10
								l -4 0
								l 0 -10
								l -10 0
								l 0 10
								l -4 0
								l 0 -10
								z" stroke="black" stroke-width="2" fill="gray"
							/>
						
							<path id="glove1" onclick="gloveclick()" 
								d="M 40 350
								l -30 10
								l 5 20
								q 5 20 20 20
								q 20 0 20 -20
								l -10 -15
								l 10 5
								q 15 5 10 -10
								z" stroke="black" stroke-width="2" fill="gray"
							/>
							
							<path  id="glove2" onclick="gloveclick()" 
								d="M 255 350
								l 30 10
								l -5 20
								q -5 20 -20 20
								q -20 0 -20 -20
								l 10 -15
								l -10 5
								q -15 5 -10 -10
								z" stroke="black" stroke-width="2" fill="gray"
							/>
							
							<path id="hat" onclick="hatclick()" 
								d="M 142 10
								l 60 5
								l -20 60
								l 20 5
								l -2 5
								l -100 -10
								l 2 -5
								l 20 -2
								z
								"stroke="black" stroke-width="2"  fill="gray"
							/>
						</svg>
					</div> <!-- Omino -->

					<div class="modal fade in" id="colors" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; padding-right: 17px;">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h3 class="modal-title" id="myModalLabel">Choose the color of the piece of clothing</h3>
								</div>
								
								<div class="modal-body">
									<p>To choose a color just click on it, your changes will be automatically saved!</p>
									<br/>
								
									<div class="container-fluid">
										<div class="row riga">
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 color" onclick="changeColor('1');" style="background-color: #f44336;"></div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 color" onclick="changeColor('2');" style="background-color: #ff9800;"></div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 color" onclick="changeColor('3');" style="background-color: #ffeb3b;"></div>
										</div>                                                                              
																						                                    
										<div class="row riga">                                                              
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>							
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 color" onclick="changeColor('4');" style="background-color: #8bc34a;"></div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 color" onclick="changeColor('5');" style="background-color: #3f51b5;"></div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 color" onclick="changeColor('6');" style="background-color: #29b6f6;"></div>
										</div>                                                                              
																						                                    
										<div class="row riga">                                                              
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>							
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 color" onclick="changeColor('7');" style="background-color: #ce93d8;"></div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 color" onclick="changeColor('8');" style="background-color: #ffffff;"></div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 color" onclick="changeColor('9');" style="background-color: #000000;"></div>
										</div>
										
										<div class="row">
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>	
											<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 grey" onclick="changeColor('10')" style="background-color: #9e9e9e;"></div>
										</div>
									</div>
								
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="hidden-xs col-md-2">
					&nbsp
				</div>
				
			</div>


    {% for config in player.chat_configs %}
        <h4>{{ config.label }}</h4>
        {% chat nickname=player.chat_nickname channel=config.channel %}
    {% endfor %}


    {{ form.hist.errors }}

    <div class="next"> {% next_button %} </div>

{% endblock %}

{% block scripts %}

       <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="{% static "vestito/index.js" %}"></script>

    <script>



    function magclick() {
        lastelements = [document.getElementById('mag'), 0, document.getElementById("maglietta")];
        $('#colors').modal('toggle');
    }

    function pantclick() {
        lastelements = [document.getElementById('pant'), 0, document.getElementById("pantaloni")];
        $('#colors').modal('toggle');
    }

    function shoeclick() {
        lastelements = [document.getElementById('shoe1'), document.getElementById("shoe2"), document.getElementById("scarpe")];
        $('#colors').modal('toggle');
    }

    function gloveclick() {
        lastelements = [document.getElementById('glove1'), document.getElementById('glove2'), document.getElementById("guanti")];
        $('#colors').modal('toggle');
    }

    function hatclick() {
        lastelements = [document.getElementById('hat'), 0, document.getElementById("cappello")];
        $('#colors').modal('toggle');
    }

    function changeColor(color) {
        $('#colors').modal('toggle');
        lastelements[0].setAttribute("fill", idToColor(color).value);
        if (lastelements[1] != 0)
            lastelements[1].setAttribute("fill", idToColor(color).value);
        var col = idToColor(color).name;
        lastelements[2].value = col;

        var d = new Date();
        var timestamp = document.getElementById('time_stamp_entered').value;
        var newtime = d.getTime()/1000
        timestamp = timestamp + newtime + "///"
        document.getElementById('time_stamp_entered').value = timestamp.toString()

        var history = document.getElementById('histor').value;
        var cappello = document.getElementById("cappello").value;
	    var maglia = document.getElementById("maglietta").value;
	    var pantaloni = document.getElementById("pantaloni").value;
	    var guanti = document.getElementById("guanti").value;
	    var scarpe = document.getElementById("scarpe").value;
        var newRow = "Tshirt: " + maglia + ", " + "hat: " + cappello + ", " + "pants: " + pantaloni + ", " + "gloves: " + guanti + ", " + "shoes: " + scarpe
        history = history + newRow + " /// "

        document.getElementById('histor').value = history.toString()
    }

    function idToColor(color) {
        if (color == "1")
            return {name: "red", value: "#f44336"}
        if (color == "2")
            return {name: "orange", value:"#ff9800"}
        if (color == "3")
            return {name: "yellow", value: "#ffeb3b"}
        if (color == "4")
            return {name: "green", value: "#8bc34a"}
        if (color == "5")
            return {name: "blue", value:"#3f51b5"}
        if (color == "6")
            return {name: "lightblue", value: "#29b6f6"}
        if (color == "7")
            return {name: "purple", value:"#ce93d8"}
        if (color == "8")
            return {name: "white", value:"#ffffff"}
        if (color == "9")
            return {name: "black", value:"#000000"}
    }

    </script>

{% endblock %}

