{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Payment Information
{% endblock %}

{% block content %}
    <p>Your payment will be in Amazon Gift Cards, therefore before starting the game we need some information about yourself:</p>

    <p>
        {% for field in form %}
            {% formfield field %}
        {% endfor %}
    </p>

    <p>
        Your name, student ID and email address are checked for payment purposes alone. In the study itself and in the
        final database, we do not record any identifying information, all data are analyzed and stored anonymously,
        and are kept on secure servers and password-protected computers.
    </p>

    <p>
        This experiment consists of a number of stages in which you can earn experimental tokens. At the end of the
        experiment, the tokens will be exchanged for real money at a rate of <b>20 tokens for one Euro</b>. The experiment is
        expected to last between 50 and 60 minutes.
    </p>

    <p>
        You will not be told the number of tokens received in each stage of the experiment. At the end, you will only
        know the overall sum of tokens and the corresponding amount of euro.
    </p>

    {% next_button %}
{% endblock %}
